body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
}

.navigation {
    background-color: #F9F9F8;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex; /* Включаем flexbox */
    justify-content: space-between; /* Размещаем элементы по краям */
    align-items: center; /* Центрируем элементы по вертикали */
}

.navigation a {
    margin: 0 20px;
    text-decoration: none;
    color: #333;
}

.menu-button {
    background: none; /* Убираем фон */
    border: none; /* Убираем рамку */
    cursor: pointer; /* Меняем курсор на указатель */
    width: 45px; /* Задаем ширину кнопки */
    height: 45px; /* Задаем высоту кнопки */
    padding: 0px 50px; /* Убираем отступы */
    display: flex; /* Включаем flexbox для центрирования изображения */
    justify-content: center; /* Центрируем изображение по горизонтали */
    align-items: center; /* Центрируем изображение по вертикали */
    border-radius: 20px; /* Закругление углов */
}

.menu-button img {
    width: 30px; /* Устанавливаем ширину изображения */
    height: auto; /* Высота автоматически пропорциональна ширине */
}

.functions {
    background-color: rgba(142, 134, 146, 1);
    padding: 15px;
    text-align: center;
}

.functions a {
    margin: 0 20px;
    border-radius: 20px; /* Закругление углов для кнопок в функции */
    text-decoration: none;
    color: white;
}

.content {
    color: F9F9F8;
    padding: 20px;
}

.content h1 {
    margin-top: 0;
}

.navigation button {
    border-radius: 20px; /* Закругление углов для кнопок в функции */
    margin-right: 20px;
    border-radius: 20px;
    background: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 1.5px 2px grey;
}

.functions button {
    border-radius: 20px; /* Закругление углов для кнопок в функции */
    margin-right: 40px;
    border-radius: 20px;
    background: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 1.5px 2px grey;
}

.navigation button a,
.functions button a {
    color: rgba(83, 76, 110, 1);
    font-weight: bold;
    display: block;
}

.navigation button:hover,
.functions button:hover {
    background: rgba(115, 108, 144, 0.91);
    color: white;
}

.navigation button a:hover,
.functions button a:hover {
    color: white;
}