<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet"/>
    <title>{{title}}</title>
</head>
<!-- Необходимо для расширения блока при вводе большого текста -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const textareas = document.querySelectorAll(".auto-resize");
        textareas.forEach(textarea => {
            textarea.addEventListener("input", function () {
                this.style.height = "auto";
                this.style.height = (this.scrollHeight) + "px";
            });
        });
    });
</script>
<body>
<div class="wrapper">
    <header>
        <nav class="navigation">
            <div class="left-nav">
                <button class="menu-button">
                    <a href="#"><img src="static/img/menu_but.png" alt="Menu"></a>
                </button>
                <button type="button"><a href="/register">Личный кабинет</a></button>
            </div>

            <div class="logo">
                <a href="#"><img src="static/img/icon.png" alt="Логотип"></a>
                <span class="site-title">RoomArt</span>
            </div>

            <div class="search-bar">
                <input type="text" placeholder="Поиск..." class="search-input">
                <button class="search-button">
                    <img src="static/img/search_logo.png" alt="Поиск">
                </button>
            </div>
        </nav>


        <nav class="functions">
            <button type="button"><a href="/main">ГЛАВНАЯ</a></button>
            <button type="button"><a href="#">СТИЛИ ИНТЕРЬЕРА</a></button>
            <button type="button"><a href="#">ИДЕИ И СОВЕТЫ</a></button>
            <button type="button"><a href="/create">СОЗДАТЬ ПОСТ</a></button>
        </nav>
    </header>
    <main class="content">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer">
        <div class="footer-content">
            <p>&copy; 2025 RoomArt. Все права защищены.</p>
            <nav class="footer-nav">
                <a href="#">О нас</a>
                <a href="#">Контакты</a>
                <a href="#">Политика конфиденциальности</a>
            </nav>
        </div>
    </footer>
</div>
</body>
</html>